<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyhslam.repository.mybatis.PartUtilMapper">


    <select id="findCOD" resultType="map">
        select A.blockNo, A.blockName, A.version, A.gc_product,
               A.partType, A.uom, A.block_opt,
               A.pick, A.pickName, A.qty, A.UOM, A.MODDATE,
               A.cmt, A.color
        from BLOCK_HISTORY A
        where A.module = #{blockNo}
    </select>

    <!--전체 삭제-->
    <delete id="deleteAll">
        delete from block_history where BLOCKNO != ''
    </delete>

    <!--    <insert id="save" useGeneratedKeys="true" keyProperty="id">
            insert into item(item_name, price, quantity)
            values(#{itemName}, #{price}, #{quantity})
        </insert>-->

    <insert id="saveBlockHistory" >
        INSERT INTO BLOCK_HISTORY(BLOCKNO, BLOCKNAME, VERSION, UOM, GC_PRODUCT, PARTTYPE, BLOCK_OPT, MODDATE, CREDATE, PICK, PICKNAME, QTY, CMT, COLOR)
        VALUES(#{blockDto.blockNo}, #{blockDto.blockName}, #{blockDto.version}, #{blockDto.uom}, #{blockDto.gc_product},
               #{blockDto.partType}, #{blockDto.block_opt}, #{blockDto.modDate}, #{blockDto.creDate},
               #{blockDto.pick}, #{blockDto.pickName}, #{blockDto.qty}, #{blockDto.cmt}, #{blockDto.color})
    </insert>

    <!--    <update id="update">
            update item
            set item_name=#{updateParam.itemName},
                price=#{updateParam.price},
                quantity=#{updateParam.quantity}
            where id = #{id}
        </update>-->

    <select id="findByBlockNo" resultType="BlockHistoryDTO">
        select A.blockNo, A.blockName, A.version, A.gc_product,
               A.partType, A.uom, A.block_opt,
               A.pick, A.pickName, A.qty, A.UOM, A.MODDATE,
               A.cmt, A.color
        from BLOCK_HISTORY A
        where A.blockNo = #{blockNo}
    </select>


    <select id="findCNPart" resultType="PartInfoDTO">

        SELECT A.md$number AS PARTNO,
            A.md$desc AS PART_NAME,
            A.BLOCKNO_NUMBER AS BLOCKNO, A.spec, A.g_l_code GL_CODE,
            A.PART_SIZE,
            A.nation,
            CODN(A.NATION) AS NA, --Ownership
            cod(A.uom) AS UOM,
            CODN(A.origin_div) origin_div, --외주
            cod(A.spt) spt,
            A.PART_STATUS,
            CODN(A.part_status) part_status,
            A.old_code, A.old_code2, A.old_code3, old_code4
        FROM normalpart$vf A, normalpart$id B
        WHERE A.vf$ouid = B.id$last
        AND LENGTH (A.md$number)=11 AND A.NATION = 2803457356
        <where>
            <if test="blockNo != null and blockNo != ''">
                and A.BLOCKNO_NUMBER like concat('%', #{blockNo}, '%')
            </if>
            <if test="partNo != null and partNo != ''">
                and A.md$number like concat('%', #{partNo}, '%')
            </if>
            <if test="partName != null and partName != ''">
                and A.md$desc like concat('%', #{md$desc}, '%')
            </if>
            <if test="div != null and div != ''">
                and CODN(A.origin_div) like concat('%', #{div}, '%')
            </if>
        </where>

   <!--     select id, item_name, price, quantity
        from item
        <where>
            <if test="itemName != null and itemName != ''">
                and item_name like concat('%', #{itemName}, '%')
            </if>
            <if test="maxPrice != null">
                and price &lt;= #{maxPrice}
            </if>
        </where>-->
    </select>
</mapper>