<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyhslam.repository.mybatis.SubaeMapper">

    <!--이미 수배율 계산한 호기번호 조회-->
    <delete id="deleteAll">
        delete from subaeProduct
    </delete>

<!--    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into item(item_name, price, quantity)
        values(#{itemName}, #{price}, #{quantity})
    </insert>-->

<!--    <insert id="saveBlockHistory" >
        INSERT INTO BLOCK_HISTORY(BLOCKNO, BLOCKNAME, VERSION, UOM, GC_PRODUCT, PARTTYPE, BLOCK_OPT, MODDATE, CREDATE, PICK, PICKNAME, QTY, CMT, COLOR)
        VALUES(#{blockDto.blockNo}, #{blockDto.blockName}, #{blockDto.version}, #{blockDto.uom}, #{blockDto.gc_product},
               #{blockDto.partType}, #{blockDto.block_opt}, #{blockDto.modDate}, #{blockDto.creDate},
               #{blockDto.pick}, #{blockDto.pickName}, #{blockDto.qty}, #{blockDto.cmt}, #{blockDto.color})
    </insert>-->

<!--    <update id="update">
        update item
        set item_name=#{updateParam.itemName},
            price=#{updateParam.price},
            quantity=#{updateParam.quantity}
        where id = #{id}
    </update>-->

    <!--ArrayList<String>에 담아서 리턴되게하려면 그냥 java.lang.String로 설정해주면 된다.-->

    <select id="findUsedProductNo" resultType="java.lang.String">
        SELECT DISTINCT A.PRODUCTNO
        FROM subaeProduct A

    </select>


    <select id="findSubaeProductList" resultType="ProductDto">
        SELECT DISTINCT A.PRODUCTNO AS productNo,
                        A.PRODUCTVER AS productVersion,
                        A.APPDATE AS productAppdate, A.M_MANAGER AS mmanager, A.E_MANAGER AS emanager,
                        A.GISONG AS gisong,
                        (SELECT COUNT(B.PARTNO) FROM subaeProduct B WHERE B.PRODUCTNO = A.PRODUCTNO AND B.QTY != '0') AS qty,
                        A.m_ModCount AS mCount,
                        A.c_ModCount AS cCount,
                        A.one_ModCnt AS oneCount,
                        A.two_ModCnt AS twoCount,
                        A.three_ModCnt AS threeCount
        FROM subaeProduct A
        <where>
            <if test="productAppdate != null and productAppdate != ''">
                and LEFT(A.APPDATE,7) = #{productAppdate}
            </if>
        </where>
    </select>


<!--
    <select id="findAll" resultType="Item">
        select id, item_name, price, quantity
        from item
        <where>
            <if test="itemName != null and itemName != ''">
                and item_name like concat('%', #{itemName}, '%')
            </if>
            <if test="maxPrice != null">
                and price &lt;= #{maxPrice}
            </if>
        </where>
    </select>-->
</mapper>